{% extends "base.html" %}
          <!-- Page Heading -->
          {% block app_content %}
          <h1 class="h3 mb-2 text-gray-800">Facturas</h1>
          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Lista de facturas</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Numero</th>
                      <th>Cliente</th>
                      <th>Monto</th>
                      <th>Saldo</th>
                      <th>Vigencia</th>
                      <th>Cancelada</th>
                      <th>Detalles</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>Numero</th>
                      <th>Cliente</th>
                      <th>Monto</th>
                      <th>Saldo</th>
                      <th>Vigencia</th>
                      <th>Cancelada</th>
                      <th>Detalles</th>
                    </tr>
                  </tfoot>
                  <tbody>
                    {% for factura in facturas %} 
                    <tr>
                      <td>{{factura.id}}</td>
                      <td>{% for cliente in clientes %}
                        {% if cliente.id == factura.cliente_id %}
                        {{cliente.nombre}}
                        {%else%}
                        {%endif%}
                        {%endfor%}
                      </td>
                      <td>{{'{:20,d}'.format(factura.monto)}}</td>
                      <td>{{'{:20,d}'.format(factura.saldo)}}</td>
                      <td>{{factura.vigencia.date()}}</td>
                      <td>{% if factura.cancelada%}
                        SI
                    {% else %}
                        NO
                    {% endif %}</td>
                      <td>
                        <form action="{{url_for('main.detalle_factura')}}" method=get>
                          <button class="btn btn-primary btn-user btn-block" id="detalles" type="submit" name="id" value="{{factura.id}}">Detalles</button>
                        </form>
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          {% endblock %}